@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["isDashboard"] = true;
    ViewData["isAccount"] = true;
}

<div class="row justify-content-center">
    <div class="@(ViewData["Additonal"] != null?"col-8 mt-5":"col-5 mt-5")">
            <div class="card login-logout-card">
            @if (ViewData["Additonal"] == null) 
            {
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Login">
                                Log In
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Register">
                                Register
                            </a>
                        </li>
                    </ul>
                </div>
            }

            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 mt-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const currentPage = location.pathname.toLowerCase();
            const navLinks = document.querySelectorAll('.nav-tabs li a');

            navLinks.forEach(function (link) {
                if (currentPage.includes(link.getAttribute('href').toLowerCase())) {
                    link.classList.add('active');
                }
            });
        });
    </script>
}
