@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id = "categories" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-columns>
                <e-grid-column field="TitleDisplay" headerText="Category"></e-grid-column>
                @* <e-grid-column field="Icon"  headerText="Icon"></e-grid-column> *@
                <e-grid-column field="Type"  headerText="Type" template="#typeColumnTemplate" width="100px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-5x"></i>
        </div>
    </div>
</div>




